.navbar-brand {
    /* logo */
    position: absolute;
    width: 100px;
    height: 34px;
    left: 136px;
    top: 25px;
    /* Primary/DarkBlue/04 */
    background: #0D28A6;
}

.navbar-nav {
    /* FONT */
    font-family: Helvetica;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    /* POSITION */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 440px;
    height: 36px;
    left: 864px;
    top: 24px;
    padding-right: 32px;
    padding-left: 32px;
}

.navbar-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    font-family: Helvetica;
    font-size: 14px;
    background: #5CB85F !important;
    border-radius: 2px;
    color: #FFFFFF;
}

.jumbotron {
    padding: 0rem 1rem !important;
    margin-top: -18px;
    background-color: #F1F3FF !important;
    height: 500px;
    left: 0px;
    top: 0px;
    background-image: url('../images/img_car.svg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 604px 350px;
}

.filter-car-card {
    position: absolute;
    width: 1047px;
    height: 106px;
    left: 196px;
    top: 458px;
    /* Neutral/01 */
    background: #FFFFFF;
    /* Shadow/High */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: 24px;
}

.btn-dropdown {
    width: 210.75px;
    height: 36px;
    background: #FFFFFF;
    /* Primary/LimeGreen/04 */
    border: 1px solid #000 !important;
    border-radius: 2px !important;
    font-family: 'Helvetica' !important;
    font-style: normal;
    font-weight: 300;
    font-size: 12px !important;
    line-height: 18px !important;
    color: black;
    text-align: left !important;
}

.dropdown-item {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 38px;
}

.a:hover.dropdown-item {
    background-color: #C9E7CA;
}

.dropdown-menu {
    width: 210.75px;
    height: 190px;
    overflow-y: auto !important;
}

.right {
    float: right;
}

.left {
    float: left;
}

.listFilter {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.text-tipe-driver {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.tipe-driver {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 12px;
    position: static;
    width: 210.75px;
    height: 36px;
    left: 0px;
    top: 22px;
    /* Neutral/01 */
    background: #FFFFFF;
    /* Neutral/04 */
    border: 1px solid #3C3C3C;
    box-sizing: border-box;
    border-radius: 2px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.dropdown-menu {
    height: 388px;
    width: 296px;
    overflow: hidden;
}

.table-condensed {
    height: 377px;
    width: 275px;
}

.datepicker table tr td.highlighted {
    background: #fff !important;
    border-radius: 0;
}

.datepicker-switch {
    padding-bottom: 20px;
    padding-top: 16px;
}

.dow {
    padding-bottom: 34px;
}

.time-picker {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 12px;
    position: static;
    width: 210.75px;
    height: 36px;
    left: 0px;
    top: 22px;
    /* Neutral/01 */
    background: #FFFFFF;
    /* Neutral/04 */
    border: 1px solid #3C3C3C;
    box-sizing: border-box;
    border-radius: 2px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.form-control {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 12px;
    position: static;
    width: 210.75px;
    height: 36px;
    /* Neutral/01 */
    background: #FFFFFF;
    /* Neutral/04 */
    border: 1px solid #3C3C3C;
    box-sizing: border-box;
    border-radius: 2px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 0px 0px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
}

.cari-mobil-btn {
    margin-top: 15px;
}

.py-4 {
    margin-top: 88px !important;
}